# macOS

## General
.DS_Store
.AppleDouble
.LSOverride

## Thumbnails
._*

## Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

## Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Xcode

## User settings
xcuserdata/

# VSCode

.vscode/


# Obj-C/Swift specific

*.hmap
*.ipa
*.dSYM.zip
## As long as we are committing Pods directory there could be frameworks with dSYM files
#*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Backup

*.bak
*.gho
*.ori
*.orig
*.tmp
*~.nib
~*
SlenderBackup*


# Generated files

#*.[oa]
*.pyc
.happypack


# Localizer script

*.strings.old
*.strings.new


# Temporary files

*.sqlite-journal
ios-store-keypair/
build.sh
*.mobileprovision
.react/
